doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div
        a(href='/auth/signup') Signup
      div
        a(href='/auth/login') Login
    block content
